*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1a1a1a;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  color: #fff;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}